/* PC  */
@media (min-width:1024px)
{

}

/* Tablet  */
@media (min-width:740px) and (max-width:1023px)
{
    .btn
    {
        padding: 16px 16px;
    }
    .contact-form
    {
        padding: 15px;
    }

    .social-list
    {
        font-size: 48px !important;
    }

    #footer .social-list a
    {
        margin: 0 8px;
    }

    #footer .copyright a
    {
        padding: 12px 0;
        display: inline-block;
    }

    .contact-info
    {
        line-height: 2;
    }
}



/* Mobile  */
@media (max-width:740px)
{
    .s-full-width
    {
        width: 100% !important;
    }

    #nav 
    {
        display:block;
    }

    #nav .subnav
    {
        position: initial;
        background: #333;
    }

    #nav .subnav a
    {
        color:#fff;
        padding: 5px 40px;
    }

    #nav > li
    {
        display: block;
    }

    #nav > li:first-child
    {
        display: inline-block;
    }

    #header
    {
        overflow: hidden;
    }

    #header .mobile-menu-btn
    {
        display:block;
    }

    #header .search-button
    {
        display: none;
    }

    /* #content .member-item 
    {
        margin-top: 30px;
        width: 100%;
    } */

    .col-third
    {
        margin-top:30px;
        width: 100%;
    }

    #content .member-img
    {
        width: 60%;
    }

    #contact .col-half
    {
        width: 100%;
    }

    .contact-form
    {
        margin-top: 16px;
    }

    .btn 
    {
        width: 100% !important;
        text-align: center;
    }

    .mt-8-mobile
    {
        margin-top: 8px !important;
    }

    .contact-info
    {
        line-height: 1.8;
    }

}